<div class="row-fluid parallax" data-stellar-background-ratio="0.5" >
     <div class="container">
  
          <h2>About Us<h2>
    </div>
    <div class="container about">
         <h4>After many years running an independently owned merchant services sales office we became increasingly frustrated by all of the confusing merchant applications we came across from our competitors.  We thought, wouldn’t it be great if there was an impartial party who could look at all the different quotes and pricing models and expertly determine which was the best for any particular business and give a recommendation?  That’s why we started Contract Compare. <br> <br>

         We enjoy using our years of experience to help merchants understand what makes one proposal better than another and find the one that will be the best fit for their business.  Sometimes it’s a bit of a detective job, but that’s what makes it interesting.<br><br>

          Let us put our expertise to work for you.</h4>
    </div>
    </div>
     
    </div>
  </div>