<div class="container contact">
  <div class="row">
   <div class="col-lg-8">
    <h3>Contact Us</h3>
    <p> <strong> Contract Compare is brought to you by <a href="http://www.backofficeagent.com/">BackOffice Agent</a>. We look forward to hearing from you.</strong></p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <address>
            <p>
              <span class="glyphicon glyphicon-envelope"></span>
              &nbsp;&nbsp;<strong>General Contact:</strong>&nbsp;
              <a href="mailto:contact@backofficeagent.com">contact@backofficeagent.com</a>
            </p>
            <p>
              <span class="glyphicon glyphicon-earphone"></span>
              &nbsp;&nbsp;<strong>Customer Support:</strong>&nbsp;
              <a href="mailto:contact@backofficeagent.com">contact@backofficeagent.com</a>
            </p>
            <p>
              <span class="glyphicon glyphicon-briefcase"></span>
              &nbsp;&nbsp;<strong>Job Inquiries:</strong>&nbsp;
              <a href="mailto:contact@backofficeagent.com">contact@backofficeagent.com</a>
            </p>       
        </address>   
      <div class="container">
        <%= render 'contact/form_input'%>
      </div>

        

    </div><!--end  column 1-->
    <div class="col-md-3">
     <iframe width="250" height="250" margin="15px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=67%20West%20Street%2C%20Brooklyn%2C%20NY%2C%20United%20States&key=AIzaSyBEVbfQkAIiKBhpiiR1TggLYo3vWJgt85E"></iframe> <!--add google map here-->
    </div> <!--end column 2-->

    <div class="col-md-3">
      <address>
        <strong>BackOffice Agent Inc.</strong><br>
        67 West Street 4th Fl<br>
        Brooklyn, NY 11211<br>
        Phone: 646-389-2643
      </address>
      <!--follow button-->
      <a href="https://twitter.com/BackOfficeAgent" class="twitter-follow-button" data-show-count="false">Follow@BackOfficeAgent</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <div class="fb-like" data-href="https://www.facebook.com/BackofficeAgent?ref=hl" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    </div> <!--end column 3-->
  </div> <!--close row-->

 
      
</div> <!--end container contact-->
