/* Move down content because we have a fixed navbar that is 50px tall */
body {
 
  padding-bottom: 20px;
  font-family:'Ubuntu', sans-serif;
  line-height: 1.5;
  padding-left: 30px;
}

body p {
  color: black;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

h1 { font-family: 'Ubuntu', sans-serif; }
h2 { font-family: 'Ubuntu', sans-serif; }
h3 { font-family: 'Ubuntu', sans-serif; }
h4 { font-family: 'Ubuntu', sans-serif; }
p { font-family: 'Ubuntu', sans-serif; }


.navbar {
  height: 75px;
  margin-left: -30px;
 
}

.navbar a {
  color: white;
}

.navbar-left  {
  padding-left: 200px;
  margin-top: -55px;

}

.navbar-left .list-inline {
  font-size: 1.5em;

}
.navbar-left a {
 color: white;

  
}

.jumbotron.container {
		background-color: #708090;
		padding: 15px;
		

}

.jumbotron h1{ color: white; 
				}
.jumbotron strong { color: white; }
.jumbotron p { color: white;
				
 }

.navbar-brand img {
  width: 100px;
}

.nav .navbar-nav .navbar-right .sign_in a {
  color: white;
  
}


.carousel {
  margin-top: -20px;
  margin-left: -30px;
}

.container.about {
	padding: 10px 100px 10px 50px;
	/*background-color: #104050;*/
	margin: 20px;
	border-radius: 2px;
	text-align:left;
	
}
.container.about h1, p {
	color: white;
	
}


.container.analyze p {
	color:black;
}

.list-group{
	border: none;

}

.list-group-item{

	border:none;

}


@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .navbar-fixed-top
    {
    position: relative;
    top: auto;
    margin-top: -50px;
    margin-bottom: 0;
    }
}

.btn-primary .btn-lg {
  color: white;
}

.container.contact address span.glyphicon {
  color: #104050 ;
}

.container.contact p {
	color:black;
}
.container.contact p.lead {
	text-align:center;
}
.parallax {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  margin-left: -30px;
  
}
.parallax.about h2 {
  line-height: 200px;
  color:white;
}
.parallax.about p {
  line-height: 200px;
  color:white;
}

.parallax.home {
   background-image: asset-url('numbers.jpg', image);
   height: 1000px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
    opacity: 0.3;
    z-index: -1;
}

.parallax.about {
   background-image: asset-url('numbers.jpg', image);
   height: 800px;
    margin-bottom: 100px;
    text-align: center;
    
    
    
}
.container.about {
  color:black;
  background-color: white;
  text-align: center;
   z-index: 10;
   height: 750px;
   width: 700px;
}
.container.about h2, {
  color: black;
  text-align: center;

}
.container.about h4, {
  color: #4d4f53;
  text-align: left;

}

.container.footer p, small{
	color:black;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.container.why-us {
background-color:#6C939F;
height:400px;
border-radius:10px;
margin-bottom: 20px;



}

.container.why-us img {
  border-radius: 5px;
  height: 50px;
  
}
.container.why-us h3 {
	text-align:center;
}
.container.anchor {
  padding-top: 60px;
  margin-top: -60px;
 
}


.container-fluid.faq {
	background-color:#D1E0E5;
	height:75px;
	margin-top:-20px;
	border-bottom:  50px;
}

.container-fluid.faq h3 {
	text-align:center;
	line-height:75px;

}
.container.faq p {
	color:black;
}

.container.small-modal button{
	background-color:#fd482f;
	height:100px;
	width:300px;
}
.container.small-modal{
	text-align:center;
	
}